@import "tailwindcss";

@theme {
  --color-red-50: #ffe8e9;
  --color-red-100: #ffd9da;
  --color-red-200: #ffabad;
  --color-red-300: #ff7d81;
  --color-red-400: #ff4f54;
  --color-red-500: #ff2127;
  --color-red-600: #f30006;
  --color-red-700: #c50005;
  --color-red-800: #970004;
  --color-red-900: #690003;
  --color-red-950: #520002;
  --color-red: #ffd9da;

  --color-yellow-50: #fefdf7;
  --color-yellow-100: #fcf9e5;
  --color-yellow-200: #f8f0c0;
  --color-yellow-300: #f5e89b;
  --color-yellow-400: #f1df76;
  --color-yellow-500: #edd751;
  --color-yellow-600: #e9ce2c;
  --color-yellow-700: #c8ae15;
  --color-yellow-800: #958210;
  --color-yellow-900: #62560a;
  --color-yellow-950: #494008;
  --color-yellow: #e9ce2c;

  --color-pink-50: #f8f4f6;
  --color-pink-100: #f1e7ec;
  --color-pink-200: #e1ced8;
  --color-pink-300: #d2b4c3;
  --color-pink-400: #c39baf;
  --color-pink-500: #b4819b;
  --color-pink-600: #a46786;
  --color-pink-700: #8e5572;
  --color-pink-800: #6b4056;
  --color-pink-900: #482b3a;
  --color-pink-950: #36202c;
  --color-pink: #8e5572;

  --color-green-50: #eff5f0;
  --color-green-100: #e2ede5;
  --color-green-200: #c9ddcf;
  --color-green-300: #b0cdb9;
  --color-green-400: #98bda3;
  --color-green-500: #7fad8d;
  --color-green-600: #669d77;
  --color-green-700: #558564;
  --color-green-800: #3f634a;
  --color-green-900: #294131;
  --color-green-950: #1e2f24;
  --color-green: #558564;

  --color-ice-50: #e7f3f4;
  --color-ice-100: #daeced;
  --color-ice-200: #bedee0;
  --color-ice-300: #9fced1;
  --color-ice-400: #80bec2;
  --color-ice-500: #61afb4;
  --color-ice-600: #4a979c;
  --color-ice-700: #3c797d;
  --color-ice-800: #2d5b5e;
  --color-ice-900: #1e3d3f;
  --color-ice-950: #172e2f;
  --color-ice: #bedee0;

  --color-cerulean-50: #d5effb;
  --color-cerulean-100: #c0e8f9;
  --color-cerulean-200: #96d8f4;
  --color-cerulean-300: #6cc9f0;
  --color-cerulean-400: #43b9ec;
  --color-cerulean-500: #19aae8;
  --color-cerulean-600: #138cbf;
  --color-cerulean-700: #0f6d96;
  --color-cerulean-800: #0b4f6c;
  --color-cerulean-900: #062a39;
  --color-cerulean-950: #031720;
  --color-cerulean: #0b4f6c;

  --font-sans: var(--font-league-spartan), sans-serif;
  --font-serif: var(--font-metal), serif;
  --font-script: var(--font-gloria-hallelujah), cursive;
}
